header {
  position: absolute;
  width: 50%;
  right: 0;

  nav {
    margin: 2rem 4rem 2rem 6rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    ul {
      display: flex;
      justify-content: space-between;
      padding: 0;
      padding: 2rem 0 2rem 0;
      margin: 0;
    }

    li {
      list-style: none;
      padding: 0;

      a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 0.1em;
      }
    }
  }
}

.animation-container {
  display: inline-flex;
  align-self: center;
}

.animation-container svg {
  height: 1em;
  width: 1em;
  position: relative;
  top: 0.5em;
  left: 0.35em;
}

#hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: url(#waveform);
}


