@import 'variables';

body {
    background-color: $background;
    margin: 0
}

ul {
    list-style: none;
    margin: 15px 0 0;
    padding: 0
}

a {
    color: $dark-text;
    font-family: apercu_medium, Arial, Helvetica, sans-serif;
    text-decoration: none
}

* {
    font-size: 30px;
    font-family: apercu_regular, Arial, Helvetica, sans-serif;
    line-height: 30px;
    color: $text;
    font-weight: 400
}

h1 {
    font-size: 72px;
    line-height: 72px;
    margin: 0;
    color: $dark-text;
}

.impossible-window {
    transform: rotate(45deg);
    overflow: hidden;
}

.sky {
    position: absolute;
    transform: translate($sky-margin + px, $sky-margin + px);
}

.window {
    position: absolute;
}

@media (min-width:1280px) {
    .art-container {
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text-container {
        position: absolute;
        left: 50vw
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh
}

@media (max-width:1280px) {
    main {
    display: flex;
    justify-content: center;
    align-items: center
    }
}

@font-face {
    font-family: 'apercu_bold_italic';
    src: url('../fonts/apercu-font-kit/apercu_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/apercu-font-kit/apercu_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercu_bold';
    src: url('../fonts/apercu-font-kit/apercu_bold-webfont.woff2') format('woff2'),
         url('../fonts/apercu-font-kit/apercu_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercu_italic';
    src: url('../fonts/apercu-font-kit/apercu_italic-webfont.woff2') format('woff2'),
         url('../fonts/apercu-font-kit/apercu_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercu_light_italic';
    src: url('../fonts/apercu-font-kit/apercu_light_italic-webfont.woff2') format('woff2'),
         url('../fonts/apercu-font-kit/apercu_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercu_light';
    src: url('../fonts/apercu-font-kit/apercu_light-webfont.woff2') format('woff2'),
         url('../fonts/apercu-font-kit/apercu_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercu_medium_italic';
    src: url('../fonts/apercu-font-kit/apercu_medium_italic-webfont.woff2') format('woff2'),
         url('../fonts/apercu-font-kit/apercu_medium_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercu_medium';
    src: url('../fonts/apercu-font-kit/apercu_medium-webfont.woff2') format('woff2'),
         url('../fonts/apercu-font-kit/apercu_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercu_mono_regular';
    src: url('../fonts/apercu-font-kit/apercu_mono-webfont.woff2') format('woff2'),
         url('../fonts/apercu-font-kit/apercu_mono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercu_regular';
    src: url('../fonts/apercu-font-kit/apercu_regular-webfont.woff2') format('woff2'),
         url('../fonts/apercu-font-kit/apercu_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}